html, body {
    height: 100%;
    margin: 0px;
}

h1 {
    text-align: center;
}

button {
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
}
.container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-radius: 12px;
    height: 450px;
    width: 450px;
}

.container div {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.container div div {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}
.slidecontainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: auto;
    width: 100%; /* Width of the outside container */
  }
  
  .slider {
    width: 200px;
    height: 25px;
    background: grey;
  }

  .container div div {
    color: white;
    text-align: center;
  }